/* Grid Container Styling */
#grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

/* Grid Item Styling */
#item-1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    border-top: 5px solid hsl(0, 78%, 62%);
}

#item-2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    border-top: 5px solid hsl(180, 62%, 55%);
}

#item-3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    border-top: 5px solid hsl(34, 97%, 64%);
}

#item-4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    border-top: 5px solid hsl(212, 86%, 64%);
}

.grid-item{
    width: 350px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px;
}